@model ManageBloodTypes.Models.ThongTinCaNhanModels

@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thông Tin Cá Nhân</h1>
        @*<nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>*@
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="@Model.HinhAnh" alt="Profile" class="rounded-circle">
                        <h2>@Html.Raw(Model.HoTen)</h2>
                        <h3>
                            @if (Model.NgheNghiep.HasValue && Model.NgheNghiep.Value != 0)
                            {
                                @Html.Action("GetNgheNghiepName", "Doctor", new { id = Model.NgheNghiep })
                            }
                            else
                            {
                                <text>(Chưa có thông tin)</text>
                            }
                        </h3>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng Quan</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh Sửa Thông Tin</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                @*<h5 class="card-title">Thông Tin Chi Tiết</h5>*@

                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-lg-3 col-md-4 label">Giới tính:</div>
                                    <div class="col-lg-9 col-md-8">@Html.Raw(Model.GioiTinhDisplay)</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày sinh:</div>
                                    <div class="col-lg-9 col-md-8">@Html.Raw(Model.NgaySinhDisplay)</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ:</div>
                                    <div class="col-lg-9 col-md-8">
                                        @Html.Raw(Model.DiaChi),
                                        @if (Model.IDPhuong.HasValue && Model.IDPhuong.Value != 0)
                                        {
                                            @Html.Action("GetPhuongXaName", "Doctor", new { id = Model.IDPhuong })
                                        }
                                        else
                                        {
                                            <text>(Chưa có thông tin)</text>
                                        },
                                        @if (Model.IDQuan.HasValue && Model.IDQuan.Value != 0)
                                        {
                                            @Html.Action("GetQuanHuyenName", "Doctor", new { id = Model.IDQuan })
                                        }
                                        else
                                        {
                                            <text>(Chưa có thông tin)</text>
                                        },
                                        @if (Model.IDThanhPho.HasValue && Model.IDThanhPho.Value != 0)
                                        {
                                            @Html.Action("GetThanhPhoName", "Doctor", new { id = Model.IDThanhPho })
                                        }
                                        else
                                        {
                                            <text>(Chưa có thông tin)</text>
                                        }

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tình trạng:</div>
                                    <div class="col-lg-9 col-md-8">@Html.Raw(Model.TinhTrangHonNhanDisplay)</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số CCCD:</div>
                                    <div class="col-lg-9 col-md-8">@Html.Raw(Model.CCCD)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày cấp:</div>
                                    <div class="col-lg-9 col-md-8">@Html.Raw(Model.NgayCapDisplay)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Nơi cấp:</div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.NoiCap_IDTP.HasValue && Model.NoiCap_IDTP.Value != 0)
                                        {
                                            @Html.Action("GetThanhPhoName", "Doctor", new { id = Model.NoiCap_IDTP })
                                        }
                                        else
                                        {
                                            <text>(Chưa có thông tin)</text>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Nhóm máu:</div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.IDNhomMau.HasValue && Model.IDNhomMau.Value != 0)
                                        {
                                            @Html.Action("GetNhomMauName", "Doctor", new { id = Model.IDNhomMau })
                                        }
                                        else
                                        {
                                            <text>(Chưa có thông tin)</text>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điện thoại:</div>
                                    <div class="col-lg-9 col-md-8"><strong>@Html.Raw(Model.SDT)</strong></div>
                                </div>
                            </div>

                            <!---->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form method="post" action="@Url.Action("Information", "Doctor")" enctype="multipart/form-data">
                                    <input type="hidden" name="Gmail" value="@Session["UserEmail"]" />
                                    <div class="row mb-3">
                                        <label for="inputNumber" class="col-md-4 col-lg-3 col-form-label">Hình ảnh</label>
                                        <div class="col-md-8 col-lg-9 ">
                                            <img src="@Model.HinhAnh" width="180" />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="formFile" class="ol-md-4 col-lg-3 col-form-label"></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="file" name="Editfile" id="formFile" class="d-none">

                                            <i class="bi bi-upload upload-icon" role="button" title="Chọn tệp"></i>

                                            <span id="fileName" class="ms-2 text-secondary fst-italic">Chưa chọn tệp</span>
                                        </div>
                                    </div>

                                    <script>
                                        document.querySelector('.upload-icon').addEventListener('click', function () {
                                            document.getElementById('formFile').click();
                                        });

                                        document.getElementById('formFile').addEventListener('change', function (event) {
                                            const fileName = event.target.files[0]?.name || 'Chưa chọn tệp';
                                            document.getElementById('fileName').textContent = fileName;
                                        });

                                    </script>

                                    <div class="row mb-3">
                                        <label for="HoTen" class="col-md-4 col-lg-3 col-form-label">Họ tên</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="HoTen" type="text" class="form-control" id="HoTen" value="@Model.HoTen">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="GioiTinh" class="col-md-4 col-lg-3 col-form-label">Giới tính</label>
                                        <div class="col-md-8 col-lg-9">
                                            @Html.DropDownListFor(m => m.GioiTinh, new SelectList(new[] { new { Text = "Nam", Value = true }, new { Text = "Nữ", Value = false } }, "Value", "Text"), "Chọn giới tính", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="NgaySinh" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                                        <div class="col-md-8 col-lg-9">
                                            @if (Model.NgaySinh.HasValue)
                                            {

                                                <input type="date" id="inputDate" name="NgaySinh" class="form-control"
                                                       value="@(Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("yyyy-MM-dd") : "")" />
                                            }
                                            else
                                            {
                                                <input type="date" id="inputDate" name="NgaySinh" class="form-control" placeholder="Chọn ngày tháng năm" />
                                            }
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="DiaChi" type="text" class="form-control" id="DiaChi" value="@Model.DiaChi">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Thành Phố</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="IDThanhPho" id="IDThanhPho" onchange="loadQuanHuyen()">
                                                @Html.Raw(Html.Action("GetThanhPhoInfo", "Doctor", new { id = @Model.IDThanhPho }))

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Quận/Huyện</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="IDQuan" id="IDQuan" onchange="loadPhuongXa()">
                                                @Html.Raw(Html.Action("GetDanhSachQuanInfo", "Doctor", new { idThanhPho = @Model.IDThanhPho, idQuan = @Model.IDQuan }))

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Phường/Xã</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="IDPhuong" id="IDPhuong">
                                                @Html.Raw(Html.Action("GetDanhSachPhuongInfo", "Doctor", new { idQuan = @Model.IDQuan, idPhuong = @Model.IDPhuong }))

                                            </select>
                                        </div>
                                    </div>

                                    <script>
                                        function loadQuanHuyen() {
                                            var idThanhPho = document.getElementById("IDThanhPho").value;

                                            if (!idThanhPho) {
                                                document.getElementById("IDQuan").innerHTML = "<option value=''>----- Chọn Quận/Huyện -----</option>";
                                                return;
                                            }

                                            fetch(`/Doctor/GetDanhSachQuanInfo?idThanhPho=${idThanhPho}`)
                                                .then(response => response.text())
                                                .then(data => {
                                                    document.getElementById("IDQuan").innerHTML = data;
                                                })
                                                .catch(error => {
                                                    console.error("Lỗi khi tải danh sách quận:", error);
                                                    document.getElementById("IDQuan").innerHTML = "<option value=''>----- Lỗi khi tải -----</option>";
                                                });
                                        }

                                        function loadPhuongXa() {
                                            var idQuan = document.getElementById("IDQuan").value;

                                            if (!idQuan) {
                                                document.getElementById("IDPhuong").innerHTML = "<option value=''>----- Chọn Phường/Xã -----</option>";
                                                return;
                                            }

                                            fetch(`/Doctor/GetDanhSachPhuongInfo?idQuan=${idQuan}`)
                                                .then(response => response.text())
                                                .then(data => {
                                                    document.getElementById("IDPhuong").innerHTML = data;
                                                })
                                                .catch(error => {
                                                    console.error("Lỗi khi tải danh sách quận:", error);
                                                    document.getElementById("IDPhuong").innerHTML = "<option value=''>----- Lỗi khi tải -----</option>";
                                                });
                                        }
                                    </script>

                                    <div class="row mb-3">
                                        <label for="TinhTrangHonNhan" class="col-md-4 col-lg-3 col-form-label">Tình trạng</label>
                                        <div class="col-md-8 col-lg-9">
                                            @Html.DropDownListFor(m => m.TinhTrangHonNhan, new SelectList(new[] { new { Text = "Độc thân", Value = true }, new { Text = "Đã kết hôn", Value = false } }, "Value", "Text"), "Chọn tình trạng hôn nhân", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nghề nghiệp</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="NgheNghiep">
                                                @Html.Raw(Html.Action("GetNgheNghiep", "Doctor", new { id = @Model.NgheNghiep }))
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="CCCD" class="col-md-4 col-lg-3 col-form-label">Số CCCD</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="CCCD" type="text" class="form-control" id="CCCD" value="@Model.CCCD">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="NgayCap" class="col-md-4 col-lg-3 col-form-label">Ngày cấp</label>
                                        <div class="col-md-8 col-lg-9">
                                            @if (Model.NgayCap.HasValue)
                                            {
                                                <input type="date" id="inputDate" name="NgayCap" class="form-control"
                                                       value="@(Model.NgayCap.HasValue ? Model.NgayCap.Value.ToString("yyyy-MM-dd") : "")" />
                                            }
                                            else
                                            {
                                                <input type="date" id="inputDate" name="NgayCap" class="form-control" placeholder="Chọn ngày tháng năm" />
                                            }
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nơi cấp</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="NoiCap_IDTP">
                                                @Html.Raw(Html.Action("GetThanhPhoInfo", "Doctor", new { id = @Model.NoiCap_IDTP }))
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nhóm máu</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-control" name="IDNhomMau">
                                                @Html.Raw(Html.Action("GetNhomMau", "Doctor", new { id = @Model.IDNhomMau }))
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="SDT" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="SDT" type="text" class="form-control" id="SDT" value="@Model.SDT">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        // Khi người dùng chọn thành phố
        $('#IDThanhPho').change(function () {
            var idThanhPho = $(this).val(); // Lấy ID của thành phố đã chọn

            if (idThanhPho) {
                // Gửi yêu cầu AJAX đến controller để lấy quận theo thành phố
                $.ajax({
                    type: 'POST',
                    url: '/Doctor/GetQuanHuyen',  // Đường dẫn tới controller
                    data: { idThanhPho: idThanhPho },  // Truyền ID thành phố
                    success: function (data) {
                        // Xóa các tùy chọn cũ của dropdown quận
                        $('#IDQuan').empty();
                        $('#IDQuan').append('<option value="">----- Chọn Quận/Huyện -----</option>');

                        // Thêm các quận mới vào dropdown
                        $.each(data, function (index, item) {
                            $('#IDQuan').append('<option value="' + item.IDQuan + '">' + item.TenQuan + '</option>');
                        });
                    },
                    error: function () {
                        alert("Không thể lấy danh sách quận.");
                    }
                });
            } else {
                $('#IDQuan').empty().append('<option value="">----- Chọn Quận/Huyện -----</option>');
            }
        });
    });

</script>


